body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

form {
    background: white;
    width: 360px;
    margin: 30px auto;
    padding: 20px;
    border-radius: 8px;
}

label {
    margin-top: 10px;
    display: block;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}

input.valido {
    border: 2px solid green;
}

input.invalido {
    border: 2px solid red;
}

small {
    color: red;
    font-size: 12px;
}

button {
    margin-top: 15px;
    padding: 10px;
    width: 48%;
}

}

}
